*{
  margin: 0;
  padding: 0;
  font-family: 'Nor';
}

body {
  /* background-image: url(../public/img/bg.png); */
  background-color: #FFD400;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@font-face
{
    font-family: 'Nor';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/krungsri_con-webfont.ttf');
    /* src: local("AirbnbCerealLight"),
    url("./font/AirbnbCerealLight.ttf") format("truetype"); */
}

@font-face
{
    font-family: 'Bol';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/krungsri_con_bol-webfont.ttf');
    /* src: local("AirbnbCerealLight"),
    url("./font/AirbnbCerealLight.ttf") format("truetype"); */
}

@font-face
{
    font-family: 'Med';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/krungsri_con_med-webfont.ttf');
    /* src: local("AirbnbCerealLight"),
    url("./font/AirbnbCerealLight.ttf") format("truetype"); */
}
